/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,/*  ul, li, */
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%;
	font: inherit; */
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */

/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
a{
  text-decoration: none;
}
li{
  list-style: none;
}

  /* BOX1 */

.mein{
  width: 100%;
  height: 600px;
  background-image:url(file/header/p4.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* ここ２行後で確認する */
  background-size: auto 100%;
  background-position: right 0;
}

.header{
  padding-top:20px;
  padding-left: 160px;
}

.header-list{
  display: inline-block;
  float: right;
  margin-left: 60px;
}
.header-list a{
  color:black;
}
.header-list a.header-mark{
  color:white;
}
.header-list li{
  display: inline-block;
  padding-left:15px;
  /* margin-left: 1px; */
  font-size:12px;
  font-weight:600;
  text-align: center;
}
.header-list span{
  font-size:12px;
  font-weight: bold;
}
.header-mark{
  position: relative;
  top:-10px;
  margin-right: 200px;
  border: solid 1px orange;
  padding: 13px;
  border-radius: 30px;
  color: white;
  background-color: orange;
}
.title{
  padding-left:160px;
  padding-top:130px;
  float: left;
}
.title-logo2{
  float:right;
}
.title p{
  font-size: 20px;
  font-weight:600;
  padding-bottom: 15px;
}
.title span{
  color: orange;
}
.title-txt{
  padding: 30px 0;
}
.header-mar2{
  font-size: 16px;
  border: solid 1px;
  padding: 20px 100px;
  border-radius: 30px;
  color: white;
  background-color: orange;
}
.hogehoge{
  font-size: 10px;
  color: gray;
  margin-top:160px;
}

  /* BOX1 */
  /* BOX2 */

.Campaign-box{
  background-color: orange;
  padding: 30px 165px 100px 165px;
}

.campaign-txt h1{
  color: white;
  margin-right: 520px;
  font-size: 40px;
  padding:30px 0 20px 0;
  text-align: left;
}
.campaign-txt p{
  color: white;
  font-size: 14px;
  font-weight:700;
  text-align: left;
  margin:0 515px 0 0; /*後で右を修正*/
}
.header-mark3{
  position: relative;
  top:-40px;
  font-weight:600;
  color: #f79314;
  background-color: white;
  border: solid 1px;
  padding: 10px 100px;
  border-radius: 40px;
  text-align:center;
  float: right;
}

  /* BOX2 */
  /* BOX3 */

.main-header{
  text-align: center;
  margin: 0 80px;
  margin-bottom: 100px;
}
.main-h{
  font-size: 20px;
  padding-top: 50px;
  font-weight:800;
}
.main-h1{
  font-size: 16px;
  font-weight:600;
  bottom: 10px;
  margin-bottom:80px;
  position: relative;
}
.main-h1::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;/*線の上下位置*/
  display: inline-block;
  width: 50px;/*線の長さ*/
  height: 5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.main-header-log p{
  margin:0 300px;
}
.oreng-nmber{
  position: relative;
  top:-30px;
  font-weight:600;
  font-size: 40px;
  color: orange;
  border: solid 1px #fcfaf5;
  padding: 20px 15px;
  border-radius: 50%;
  background-color: #fcfaf5;
}
.main-log h4{
 font-size: 25px;
 position: relative;
 top:100px;
}
.main-log h4::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;/*線の上下位置*/
  display: inline-block;
  width: 200px;/*線の長さ*/
  height: 5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.company-log{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-top:90px;
  margin: 20px 80px;
  border-radius: 10px;
  background-color:white;
}
.company-log1{
  display: flex;
 justify-content:space-evenly;
 padding:20px 0;
 margin: 20px 80px;
 border-radius: 10px;
 background-color:white;
}
.main-box{
  background-color:#fcfaf5;
  padding-bottom:20px;
  border-radius: 10px;
}
.main-box2{
  padding-bottom:30px;
  margin:80px 0;
  background-color:#fcfaf5;
  border-radius: 10px;
}
.oreng-nmber2{
  font-size: 25px;
  color: orange;
  font-weight:600;
}
.nmber1{
  font-size: 17px;
  padding: 10px 0;
}

.main-box3{
  height: 650px;
  border-radius: 20px;
  background-color: #fcfaf5;
}

.nmber2{
  margin-top: 30px;
  font-size: 17px;
  font-weight: 500;
}
.nmber2 span{
  font-size: 30px;
  font-weight: 800;
  color: orange;
}
.grooves-box{
float: left;
width:33%;
display: inline-block;
}
.grooves-log{
  text-align: center;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color:white;
}
.grooves-1{
  /* ここ後で学習する */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20px;
  top:  20px;
}
.groobves-aicon{
  display: inline-block;
position: relative;
top: 10px;
}
.grooves{
  position: relative;
  left: 5px;
  top:-35px;
  color: orange;
}
.hoge{
  font-size: 20px;
  font-weight: 800;
  position: relative;
  left: 50px;
  top:-35px;
}
.hogege{
  font-weight: 500;
  width:75%;
  padding: 10px 0 10px 10px;
  margin-left: 50px;
  display:inline-block;
  text-align: left;
  background-color: #f6f6f6; /*#f6f6f6を使用する*/
  border-radius: 15px;
}

  /* BOX3 */
  /* BOX4 */

.camp-corse{
  height: 770px;
  background-color:#f6f6f6;
  background-image:url(file/Corse/download-1.png);
  background-repeat: no-repeat;
  background-size: 281px 275px;
  background-position: calc(100% - 50px) top; /*後でここを勉強する*/
  background-position: right 90px top 45px ;
  padding-top: 60px;
  padding-bottom:0px;
}
.corse-head{
  padding-top: 50px;
  text-align:center;
}
.corse-head span{
  font-size: 45px;
  font-weight: 900;
}
.corse-head p::before{
  font-size: 19px;
  font-weight: 800;
  padding-top:6px;
  content: '';
  position: relative;
  left: 17%;
  bottom: -30px;/*線の上下位置*/
  display: inline-block;
  width: 50px;/*線の長さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}

.corse-list{
text-align: center;
position: relative;
top:50px;
margin: 0 80px;
}
.corse-change{
  margin-bottom: 30px;
  padding: 40px 30px;
  background-color: white;

}
.corse-list p{
  text-align: start;
}
.web-corse{
  font-size: 20px;
  font-weight: 900;
  color: black;
  float: left;
  border: solid 3px orange;
  border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);  /*後で確認*/
  border-image-slice:1;
  padding:30px;
  margin-right: 20px;
  position: relative;
  bottom:20px;
  right: 50px;
}
.web-corse0{        /*後で修正 */
  float: right;
  color:#999;
  font-size: 13px;
  position: relative;
}
.web-corse0::after{
  content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 4px;
    right: -18px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
}
.web-corse1{
  padding-bottom: 15px;
  font-weight: 800;
  color: orange;
}
.web-corse1-5{
  padding-bottom: 15px;
  font-weight: 800;
  color: #f75307;
}
.web-corse2{
  color: white;
  font-size: 15px;
  display: inline-block;
  background-color: #212121;
  border: solid 1px #212121;
  border-radius: 20px;
  padding: 2px 20px;
  position: relative;
  left: -380px;
}
.web-corse3{
  color: black;
  font-size: 13px;
  font-weight: 900;
  margin-top: 15px;
}
.web-corse3::before{                   /* 擬似クラスは書き方をこのようにして書く */
 content: '';
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f79214;
    margin-right: 10px;
}
.web-corse4{
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 330px;
  height: 60px;
  border: none;
  position: relative;
  top:80px;
  left: 500px;
}
.web-corse5{
  color: #fff;
  font-size: 20px;
}
.web-corse5 span{
  color: #fff;
  font-size: 15px;
}

  /* BOX4 */
  /* BOX5 */

.massage-box{
  height: 800px;
  background-color: #fcfaf5;
}
.massage-headr{
  text-align: center;
  padding-top: 80px;
}
.massage-headr h2{
 font-size: 46px;
 font-weight: 700;
}
.massage-headr p{
 font-size: 15px;
 font-weight: 800;
}
.massage-headr::after{
  content: '';
  position: relative;
  left: 20px;
  bottom: -5px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.massage-img{
  float: right;
  position: relative;
  top:210px;
  right: 70px;
}
.name-img1{
  font-size: 16px;
  font-weight: 600;
 color:white;
 position: relative;
 right: 10px;
 left: 640px;
 top: 235px;
 width: 150px;
}
.name-img{
 font-size: 25px;
}

.massage-txt{
  padding: 0 150px;
}
.massage-box1{
  background-color: white;
  margin-right: 380px;
  padding-bottom: 20px;
  padding-top:50px;

}
.massage-txt h1{
  font-size: 47px;
  font-weight: 800;
  color: #ff802c;
  position: relative;
  top:35px;
  right: -20px;
}
.massage-box1 p{
  font-size: 14px;
  font-weight: 500;
  padding-left: 35px;
  padding-right: 125px;
}

  /* BOX5 */
  /* BOX6 */
  
.student-box{
  text-align: center;
}
.student-box h1{
  font-size: 50px;
  margin-top: 50px;
}
.student-box2{
  font-size: 18px;
  margin-bottom: 50px;
}
.student-box2::after{
  content: '';
  position: relative;
  left: -130px;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.student-img ul{
  display: flex;
    margin-inline-start: 0px;
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
.student-img{
 text-align: center;
}
.student-img li{
  padding:0 20px;
  width: calc(100% / 3);
}
/* .student-img0{
  overflow: hidden;
  height: 320px;
  width: 320px;
  object-fit: cover;
  position: static;
} */
.student-img1{
  position: relative;
  top:-150px;
  margin: 0 10px;
  padding: 50px 20px 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}
.student-img2{
  font-weight: bold;
  font-size: 15px;
  color: #f79314;
  text-align: start;
  position: relative;
  top: 15px;
}
.student-img2::after{
  content: '';
  position: relative;
  top:-13px;
  right: -135px;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 270px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: white;
}
.student-img3{
  text-align: start;
  font-size: 13px;
  font-weight: 500;
  color: white;
}
.student-img3 span{
  font-size: 20px;
  font-weight: 600;
}
.student-img4{
  font-size: 15px;
  font-weight:bold;
  text-align: left;
  text-align: justify;
  color: black;
  line-height: 1.8;
  position: relative;
  top: -130px;
  margin: 0 5px;
}
.student-img5{
  color:white;
  font-size:15px;
  border-radius: 20px;
}
.student-img5 span{
  font-size: 20px;
  letter-spacing:4px;
}
.student-img6{
  font-weight: bold;
  border: 1px solid #f79314;
  background-color: #f79314;
  padding: 5px 0;
  margin: 0 500px;
  border-radius: 40px;
  position: relative;
  top: -80px;
}
  /* BOX6 */
  /* BOX7 */

.Potepan-service-box{
  height: 600px;
  background-color:#f6f6f6;
  background-image:url(file/Corse/download-1.png);
  background-repeat: no-repeat;
  background-size: 271px 275px;
  background-position: calc(100% - 50px) top; /*後でここを勉強する*/
  background-position: right 140px top 15px ;
  padding-top: 60px;
  padding-bottom:0px;
}
.potepan{
  text-align: center;
}
.potepan h1{
  font-size: 45px;
  font-weight: bold;
}
.potepan p{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}
.potepan p::after{
  content: '';
  position: relative;
  left: -100px;
  bottom: -30px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.Potepan-service{
  margin: 0 100px;
}
.Potepan-service ul{
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding-top: 20px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.Potepan-service li{
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  width: calc(100% / 3);
}
.Potepan-service1{
  background-color: #fff;
    border: solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 190px;
    box-sizing: border-box;
}
.Potepan-service1.red{
  border-color: orange;       /* この技は覚えとく　.　を使うことで個別に指定可 */
}
.Potepan-service1.green{
  border-color: green;
}
.Potepan-service1.black{
  border-color: black;
}
.Potepan-service2{
  font-size: 16px;
  font-weight:bold;
  color: black;
  line-height: 1.8;
  position: relative;
  margin: 25px 0px 0;
}
.syuusei{
  padding-top: 28px;
}

  /* BOX7 */
  /* BOX8 */
.footer{
  height: 540px;
  background-color: #f79314;
}
.footer-marginbox{
  margin: 0 170px;
  padding-top: 90px;
  padding-bottom: 30px;
}
.fotter-left{
 float: left;
 margin-right: 280px;
color: white;
font-size: 14px;
font-weight: bold;
}
.footer-leftbox{
  margin: 30px 0;
}
.footer-left1{
  margin: 15px 0;
}
.fotter-right a{
  color: white;
}
.fotter-right li{
  margin-left:500px;

  color: white;
  padding-bottom: 30px;
  position: relative;
  top: -20px;
}
.fotter-right ul li:last-child{
  text-align: left;
  padding-left: 20px;
}
.fotter-right span{
  font-size: 15px;
  font-weight: bold;
  padding-right: 15px;
}
.potepan-img{
  padding-right: 10px;
}
.potepan-img0{
  z-index: 1;
}
.potepan-img1{
  float: right;
  position: relative;
  bottom: 120px;
  left: 50px;
}
.fotter-bottom{
  margin-top: 20px;
  font-size: 13px;
  color: white;
}
/* ボタン作り */
.potepan-top-log{
  background-color: white;
  border: 1px solid white;
  padding: 20px 23px;
  border-radius: 50%;
  position: relative;
  left: 1150px;
  bottom:10px;
  box-shadow: 0 12px 30px -15px;  /* 後で学習する */
}
.potepan-top-log span{
  content: '';
  position: relative;
  width: 10px;
  height: 10px;
  border-right: solid 3px #f79214;
  border-top: solid 3px #f79214;
  transform: rotate(315deg);
  display: inline-block;
   /* 下学習する */
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
  /* BOX8 */

    /* BOX1ボタン作り */
                          /* 透明型 */
.hover-a:active{
  transition: 1;
  opacity: 0.2s;
  color: white;
}
.hover-a{
  cursor: pointer;
}
.hover-a:hover {
  opacity: 0.6;
}
/* 拡大ホバー BOX6 7 */
.hover-d img{
  overflow: hidden;
  transition: .3s ease-in-out;
}

   /* 352→320 */
/* a:hover .hover-d */
.hover-d img:hover{
  transform: scale(1.1, 1.1);
  /* -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1); */
}
.student-img0{
  height: 320px;
  width: 320px;
  overflow: hidden;
  object-fit: cover;
  /* position: static; */
}
   /* 後で   */
/* .hover-d {
  transition: transform .2s;
}

a:hover .hover-d {
  transform: scale(1.1);
}

.service-media:hover .hover-d {
  transform: scale(1.05);
} */

   /* BOX8オレンジ作り */
.hover-b:hover{
    background: #f79314;
    border-color: #f79314;
  }
.hover-b:hover span{
  border-color: white;
}
     /* 連結方法１ */