@media(min-width:768px) and (max-width:1080px){
  .mein{
    position:fixed;
    z-index:10;
    background-color: white;
    height: 50px;
  }
    .header{
    display: inline-block;
  }
    .header-logo{
  position: relative;
  left: -90px;
  top: -5px;
  }
  /* ハンバーガー作成 */
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 35px;                          /* 箱サイズ */
    width: 35px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {               /* ２番目？ */
    content: '';
    display: block;
    height: 3px;                      /* 太さ */
    width: 25px;                      /* 幅 */
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }
  .menu-btn span:before {              /* 1番目？ */
    bottom: 8px;
  }
  .menu-btn span:after {              /* 3番目？ */
    top: 8px;
  }
     /* ハンバーガー */
     /* バツ反転 */
  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }
     /* バツ反転 */
     /* 隠し */
  #menu-btn-check {
    display: none;
  }
      /* 隠し */
  
    /* ホバー */
  .menu-content {
    width: 100%;
    height: 85%;
    position: fixed;
    top:  50px;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;/*アニメーション設定*/
  }                                                     /* 飛び出し */
  .header-list{
    padding-left: 0px;
    display: inline-block;
  }
  .header-list li{
    padding-left: 0px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 350px;
  }
  .header-list span{
    color: white;
    font-size:15px;
    letter-spacing:2px;
    line-height:2.8;
  }
  .header-list a{
    color: #f79314;
    letter-spacing: spacing 2px;
  }
  .header-mark{
    padding: 20px 60px;
    font-size: 14px;
  }
  .header-list li:last-child{
    margin-top: 20px;
  }
  
                                                   
  #menu-btn-check:checked ~ .menu-content {
      left: 0;/*メニューを画面内へ*/
  }
             /* 多分ここまで */
  
  .main-head02 img{
  width: 279px;
  }
  
  .course-fee{
    height: 300px;
  }
  .course-box{
    padding-left: 0px;
    text-align: center;
  }
  .course-box h1{
    float: left;
    padding-top: 50px;
    padding-left: 170px;
  }
  .course-box1 h3{
    font-size: 20px;
  }
  .course-box1 h3::before{
    background-image: url(file/main/download.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    content: '';
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
    top: -30px;
    right: -110px;
  }
  .main-head2{
    height: 320px;
  }
  .fotter-right li{
    left: -200px;
  }
  .fotter-right ul li:last-child{
    left: 295px;
  }
  .potepan-img1{
    left: 100px;
  }
  .fotter-left{
    position: relative;
    left: -50px;
  }
  .fotter-bottom{
    position: relative;
    left: -50px;
  }
  }