@media(max-width:767px){
.mein{
  position:fixed;
  z-index:10;
  background-color: white;
  height: 50px;
}
  .header{
  display: inline-block;
}
  .header-logo{
position: relative;
left: -90px;
top: -5px;
}
/* ハンバーガー作成 */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 35px;                          /* 箱サイズ */
  width: 35px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {               /* ２番目？ */
  content: '';
  display: block;
  height: 3px;                      /* 太さ */
  width: 25px;                      /* 幅 */
  border-radius: 3px;
  background-color: black;
  position: absolute;
}
.menu-btn span:before {              /* 1番目？ */
  bottom: 8px;
}
.menu-btn span:after {              /* 3番目？ */
  top: 8px;
}
   /* ハンバーガー */
   /* バツ反転 */
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
   /* バツ反転 */
   /* 隠し */
#menu-btn-check {
  display: none;
}
    /* 隠し */

  /* ホバー */
.menu-content {
  width: 100%;
  height: 85%;
  position: fixed;
  top:  50px;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;/*アニメーション設定*/
}                                                     /* 飛び出し */
.header-list{
  padding-left: 0px;
  display: inline-block;
}
.header-list li{
  padding-left: 0px;
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 240px;
}
.header-list span{
  color: white;
  font-size:15px;
  letter-spacing:2px;
  line-height:2.8;
}
.header-list a{
  color: #f79314;
  letter-spacing: spacing 2px;
}
.header-mark{
  padding: 20px 60px;
  font-size: 14px;
}
.header-list li:last-child{
  margin-top: 20px;
}

                                                 
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
           /* 多分ここまで */

.main-head02 img{
width: 686px;
}

.course-fee{
  background-image: url(file/Responsive/download.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  background-size: 100%;
}
.course-box{
  padding-left: 0px;
  text-align: center;
}
.course-box h1{
font-size: 20px;
}
.main-head1{
}
.main-head h1::after{
  left:-80px;
}
.respon-r{
  margin-left: 40px;
}
.respon{
  display: block;
}
.resp-none{
  display: none;
}

.main-head h1{
  font-size: 26px;
}
.main-head p{
    font-size: 15px;
    text-align: start;
    width: 650px;
    position: relative;
    left:-70px;
}
.main-txt{
  font-size: 17px;
  line-height:0;
  margin-bottom: 100px;
}
.course-box1 h3{
  font-size: 20px;
}
.course-box1 h3::before{
  background-image: url(file/main/download.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 35px;
  height: 35px;
  content: '';
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
  top: -30px;
  right: -110px;
}
.main-txt2{
  margin-bottom: 35px;
}


.main-cose ul{
  display: inline;
}
.main-cose{
width: 720px;
position: relative;
left: -110px;
}
.course-plan h1{
  font-size: 30px;
}
.course-plan h1::after{
  left: -90px;
}
.Webapp-icon{
  text-align: center;
}
.Webapp-course h2{
  font-size: 25px;
    margin-bottom: 10px;
}
.respon-center{
  text-align: center;
}
.Webapp-course{
  margin:10px;
  text-align: center;
}
.x1 img{
  width: 610px;
}
.x1 p{
  width: 610px;
}
.Webapp-course1{
  margin-top:50px;
}
.webapp-box1 li{
  padding-top:10px;
}
.webapp-box1 li:last-child{
  padding-bottom:10px;
}


.rails-plan{
  margin: 0 30px 30px 30px;
  padding:0px;
}
.rails-plan img{
  float: none;
  left: 270px;
  height: 130px;
  width: 130px;
  padding-top: 20px;
}
.reails-plan1{
  font-size: 19px;
  text-align: center;
  margin: 10px 0;
}

.respon-none{
  display: none;
}
.student-box h1{
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 25px;
}
.student-box::after{
  content: '';
  position: relative;
  top:-590px;
  left: 15px;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.student-box{
  background-size: 130px 130px;
}


.footer{
  height: 100%;
}
.fotter-right{
  /* order: 1; */
}
.fotter-right li{
  top:-380px;
  left: -120px;
}
.fotter-right ul li:last-child{
  display: inline-block;
  left: -180px;
  /* float: left; */
}
.potepan-img1{
  float: none;
  left: 140px;
  bottom:380px;
}
.respon-border{
  border-bottom: solid 1px white;
  max-width: 850px;
  position: relative;
  bottom:370px;
}
.fotter-left img{
  position: relative;
  top:330px;
  left: 65px;
}
.footer-leftbox{
  position: relative;
  bottom:-330px;
  left: 135px;
}
.potepan-img{
  margin-left:60px;
}
.fotter-bottom{
  margin-left:120px;
}
}
