html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,/*  ul, li, */
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
ul{
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
  /* BOX1 */

  .mein{
    width: 100%;
    height:  70px;
    background-color:white;
    position: relative;
  }
  
  .header{
    padding-top:20px;
    padding-left: 100px;
    display: inline-block;
  }
  .header-list{
    float: right;
    /* padding-left: 220px; */
   position: absolute;
    right:50px;
    top: 15px;
  }
  .header-list a{
    color:black;
  }
  .header-list a.header-mark{
    color:white;
  }
  .header-list li{
    display: inline-block;
    padding-left:15px;
    font-size:12px;
    font-weight:600;
    text-align: center;
  }
  .header-list span{
    font-size:12px;
    font-weight: bold;
  }
  .header-mark{
    position: relative;
    top:-10px;
    /* margin-right: 160px; */
    border: solid 1px #f79314;
    padding: 13px;
    border-radius: 30px;
    color: white;
    background-color: #f79314;
  }
    /* BOX1 */
.course-fee{
  width: 100%;
  height: 200px;
  background-image: url(file/course-burner/download.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
}
.course-box{
  color: white;
  font-size: 25px;
  letter-spacing:3px;
  padding-left: 230px;
  padding-top:70px;
}
  /* BOX2 */
  /* potepan-course  BOX*/
.main-box{
  width: 100%;
  background-color: #fcfaf5;                          /* #fcfaf5 */
  padding-bottom: 50px;
}
.potepan-course{
  margin: 0 100px;
}
.main-head{
  text-align: center;
  line-height: 1.8;
  padding-top: 50px;
}
.main-head h1::after{
  content: '';
  position: relative;
  top: 35px;
  left: -350px;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.main-head h1{
  font-size:43px;
  font-weight:bold;
  margin-bottom: 60px;
}
.main-txt{
line-height: 3.2;
font-size: 20px;
font-weight: bold;
background: linear-gradient(white 70%,#fff79d 70%, #fff79d);
}
.main-head2{
  width: 100%;                                 /* 後で整理する */
  margin-top: 90px;
  /* margin-bottom: 100px; */                   /* 後で整理する */
  text-align: center;
  background-color: white;
  border-radius: 30px;
}
.course-box1{
  position: relative;
  top:-60px;
}
.main-img1{
  color: white;
  background: white;
  position: relative;
  top:-40px;
  padding:20px;
  border: solid 1px white;
  border-radius: 35%;
}
.main-head2 h3{
  font-size: 30px;
  height: 5px;
}
.main-head02{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.main-head02 li{
  float: left;
  margin-left: 15px;
}
.main-head02 li:first-child{
  margin-left: 0px;
}
.main-txt1{
 font-size: 15px;
 font-weight: bold;
 color: white;
 padding: 5px 20px;
 margin-bottom: 10px;
 background-color: black;
 border-radius: 30px;
}
.main-txt2{
 font-weight: bold;
 margin-top: 5px;
}
.main-txt2::before{
  background-image: url(file/main/main1/download-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 23px;
  height: 20px;
  content: '';
  display: inline-block;
    margin-right: 10px;
}
  /* main-head3  BOX*/
.main-head3{
  margin-top: 30px;
}
.main-cose{
 display: flex;
 justify-content: space-around;
 margin: 0 5px;
}
.main-cose ul{
  display: flex;
  margin: 0 25px;                               /* 外側横幅修正 */
}
.main-cose li{
 float: left;
 margin-left: 20px;
}
.main-cose li:first-child{
 margin-left: 0px;
}
.main-head03{
 text-align: center;
}
.main-head003{
  font-size: 15px;
  padding: 12px 20px;
  margin-top: 10px;
  border: solid 1px #F79314;
  background-color: #F79314;
  border-radius: 15px 15px 0 0;
  color: white;
}
.main-head0003{
  background-color: white;
}
.main-head0003 h1{
 font-size: 27px;
 font-weight: 600;
 padding: 20px 0;
}
.main-head0003 span{
 font-size: 12px;
}
.main-head0003 p{
 color: #22222299;;
 margin: 0 25px;
 line-height: 1.8;
 letter-spacing:1px;
 text-align: start;
 padding-bottom: 20px;
}
.main-head-txt{
  padding: 18px;
  font-size: 14px;
}
.main-head-txt span{
 color: orange;
 margin-left: 10px;
}
.main-head-txt1{
  background-color: #fff8ea;
}
.main-head-txt2{
  background-color: white;
}
.main-head-txt0{
  font-size: 20px;
  font-weight: bold;
}
.main-head-txt0 span{
  color: black;
  font-size: 28px;
  margin-left: 0px;
}
.main-head-txt00{
  color: orange;
  font-weight: bold;
}
.main-head-txt00::before{                      /* 学習する */       
  content: "\203A";
  transform: matrix(0, 1, -1, 0, 0, 0);
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}
                  /* BOX3 */
                  /* コースプラン */
.course-plan{
  text-align: center;
}
.course-plan h1{
  font-size: 45px;
  margin: 50px 0 90px;
}
.course-plan h1::after{
  content: '';
  position: relative;
  top: 45px;
  left: -130px;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.Webapp-course{
  background-color: #fcfaf5;
  margin: 0 80px;
  border-radius: 30px;
  padding-bottom: 5px;                                      /* 後で微調整消してOK */
  margin-bottom: 70px;
}
.Webapp-course1{
font-weight: bold;
padding-top: 50px;
}
.Webapp-course h2{
font-size: 36px;
margin-bottom: 40px;
color:#f79214;
background: -webkit-linear-gradient(-40deg, #f79214, #f74e06);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.Webapp-box{
  text-align: start;
  margin: 0 30px 40px;
  padding: 7px 19px 0;
  border-radius: 15px;
  background-color: white;
}
.webapp-box1{
position: relative;
top:-10px;
}
.Webapp{
  padding-bottom: 10px;
}
.webapp-box1 li::before{
  content: '';
    display: inline-block;
    min-width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #f79314;
    margin-left: 6px;
}
.Webapp-icon::before{
  background-image: url(file/main/download.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.webapp-color{
 font-size: 15px;
 display: inline-block;
 font-weight: bold;
 color: #f79214;
 background-color: #fcfaf5;
 padding: 4px 15px 4px 10px;
 border: solid 1px #fcfaf5;
 border-radius: 15px;
}

.Webapp-icon1::before{
  background-image: url(file/main/main2/download-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  content: '';
  display: inline-block;
  margin-right:8px;
}
.Webapp-icon2::before{
  box-sizing: border-box;
  background-image: url(file/main/main2/download-4.png);
  background-repeat: no-repeat;
  background-size:90%;
  width: 17px;
  height: 16px;
  content: '';
  display: inline-block;
  margin-right:8px;
  position: relative;
  top:2px;
}
.Webapp-icon3::before{
  background-image: url(file/main/main2/download-5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 17px;
  height: 17px;
  content: '';
  display: inline-block;
  margin-right:8px;
  position: relative;
  top:2px;
}
.Webapp-icon4::before{
  background-image: url(file/main/main2/download-6.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  content: '';
  display: inline-block;
  margin-right:8px;
  position: relative;
  top:2px;
}
.web-text{
  padding: 20px 0;
  padding-left: 10px;
}
.web-flex-wrap ul{
  display: flex;
  flex-wrap:wrap
}
.web-flex-wrap li{
  width: 49%;
  text-align: start;
  margin-right: 7px;
}
.x1 h4{
margin-top: 10px;
margin-bottom: 5px;
}
.x1 p{
 margin-right: 20px;
 padding-bottom: 15px;
}

.rails-plan{
display: inline-block;
text-align: start;
background-color: white;
padding:10px 0;
padding: 0 120px;
margin-bottom: 20px;
}
.rails-plan img{
  float: left;
  /* padding-right: 10px; */
  position: relative;
  left: -10px;
}
.rails-plan span{
  color: orange;
}
.rails-plan p{
  /* font-size: 16px; */
  padding:0 18px;
  line-height:1.5;
}
.reails-plan1{
  font-size: 19px;
  font-weight: bold;
}


      /* BOX6 */
.student-box{
  padding-top:50px;
  text-align: center;
  background-color: #f6f6f6;
  background-image: url(file/third-header/download.png);
  background-repeat: no-repeat;
  background-size: 281px 275px;
  background-position: right 90px top 45px;
}
.student-box h1{
  font-size: 50px;
  margin-top: 50px;
}
.student-box2{
  font-size: 18px;
  margin-bottom: 50px;
}
.student-box2::after{
  content: '';
  position: relative;
  left: -130px;
  bottom: -25px;/*線の上下位置*/
  display: inline-block;
  width: 45px;/*線の長さ*/
  height: 6px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: orange;/*線の色*/
}
.student-img ul{
  display: flex;
    margin-inline-start: 0px;
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.student-img{
 text-align: center;
}
.student-img li{
  padding:0 25px;
  width: calc(100% / 3);
}
.student-img1{
  position: relative;
  top:-145px;
  left: -10px;
  margin: 0 10px;
  padding: 50px 25px 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}
.student-img2{
  font-weight: bold;
  font-size: 15px;
  color: #f79314;
  text-align: start;
  position: relative;
  top: 15px;
}
.student-img2::after{
  content: '';
  position: relative;
  top:-13px;
  right: -135px;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 270px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: white;
}
.student-img3{
  display: inline-block;
  text-align: start;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.student-img3 span{
  font-size: 20px;
  font-weight: 600;
}
.student-img4{
  font-size: 16px;
  font-weight:bold;
  text-align: start;
  /* text-align: justify; */
  color: black;
  line-height: 1.8;
  margin-top: 15px;
  padding-right: 10px;
  margin-bottom: 100px;
}
.student-img5{
  color:white;
  font-size:15px;
  border-radius: 20px;
}
.student-img5 span{
  font-size: 20px;
  letter-spacing:4px;
}
  /* BOX8 */
  .footer{
    /* width: 100%; */
    height: 540px;
    background-color: #f79314;
  }
  .footer-marginbox{
    margin: 0 170px;
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .fotter-left{
   float: left;
   margin-right: 280px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  }
  .footer-leftbox{
    margin: 30px 0;
  }
  .footer-left1{
    margin: 15px 0;
  }
  .fotter-right a{
    color: white;
  }
  .fotter-right li{
    /* margin-left:500px; */
    color: white;
    padding-bottom: 30px;
    position: relative;
    top: -20px;
  }
  .fotter-right ul li:last-child{
    text-align: left;
    padding-left: 60px;
    left: 500px;
  }
  .fotter-right span{
    font-size: 15px;
    font-weight: bold;
    padding-right: 15px;
  }
  .potepan-img{
    padding-right: 10px;
  }
  .potepan-img0{
    z-index: 1;
  }
  .potepan-img1{
    float: right;
    position: relative;
    bottom: 120px;
    left: 50px;
  }
  .fotter-bottom{
    margin-top: 20px;
    font-size: 13px;
    color: white;
  }
  /* ボタン作り */
  .potepan-top-log{
    background-color: white;
    border: 1px solid white;
    padding: 20px 26px;
    border-radius: 50%;
    margin-bottom: 10px;
    float: right;
    position: relative;
    right:50px;
    bottom:30px;
    box-shadow: 0 12px 30px -15px;  /* 後で学習する */
  }
  .potepan-top-log span{
    content: '';
    position: relative;
    width: 10px;
    height: 10px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(315deg);
    display: inline-block;
     /* 下学習する */
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
      /* BOX1ボタン作り */
       /* 透明型 */
  .hover-a:active{
    transition: 1;
    opacity: 0.2s;
    color: white;
  }
  .hover-a{
    cursor: pointer;
  }
  .hover-a:hover {
    opacity: 0.6;
  }
    /* BOX6  拡大サイズ維持*/
  /* 本家サイトやり方　-失敗-　写真は２枚で構成されhover２枚目が拡大、実行時１枚目が非表示になる */
     /* imgを外側divで制限をかけはみ出した部分を非表示にする */
     .student-img0{
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: 50% 0%;
      border-radius: 15px;
    }
    .hover-box{
      width: 100%;
      height: 190px;
      border-radius: 15px;
      overflow: hidden;
    }
  .hover-d img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
  }
  .hover-d:hover p{
    color: #f79314;
  }
  
    /* BOX7 ただの拡大＋カラー変更 */
    .hover-e img{
      transition: .3s ease-in-out;
    }
    .hover-e img:hover{
      transform: scale(1.1, 1.1);
      color: #f79314;
    }
    .hover-e:hover p{
      color: #f79314;
    }
     /* BOX8 連結ボタンカラー変更 */
  .hover-b:hover{
      background: #f79314;
      border-color: #f79314;
  }
  .hover-b:hover span{
    border-color: white;
  }
       /* 連結方法１ */


       /* レスポンシブ対応スマホ */
body {
  -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.respon{
  display: none;
}
.resp-none{
  display: block;
}

#menu-btn-check {
  display: none;
}